<!DOCTYPE html>
<html lang="en">
<head>
    <script src="server.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1>See All The Pokemon!</h1>
    <ul>  <%pokemon.map((poke,index)=>{%>
        <li>
    
            <%=poke.name[0].toUpperCase()+poke.name.slice(1)%>  </li>
            <img src=<%=`${pokemon.img}.jpg`%>  width ="400" height="300" >
<a href="/pokemon/<%=index%>">OPEN</a>
          <%  }) %>
    </ul>
</body>
</html>