<!DOCTYPE html>
<html lang="en">
<head>
    <script src="server.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1>Gotta Catch 'Em All</h1>
  
        <li>
    
            <%=pokemon[index].name.toUpperCase()%>  
           <br>
            <img src=<%=`${pokemon[index].img}.jpg`%> width ="700" height="700" >
        </li>
<a href="/pokemon">ZOOM OUT</a>
     
</body>
</html>